/deep/.el-dialog__footer{
  text-align: center;
}
/deep/.el-dialog__body{
  padding: 0px 20px;
}
.userForm{
  width: 80%;
  margin-left: 10%;
}
/deep/.el-input-group__append {
  background-color: #409EFF;
  border: 1px solid #409EFF;
  color:#fff
}
/deep/.el-drawer__header{
  margin-bottom: 0px;
}
/deep/.el-divider--horizontal {
  margin: 12px 0px;
}