.el-header{
  height: $headerHeight !important;
  overflow: hidden;
  background-color: $menuBgColor;
}
.el-main{
  padding: 0px;
  overflow: auto !important;
}
.tabpanel{
  overflow: hidden;
  background-color: white;
  height: $tabHeight !important;
}
.el-breadcrumb{
  margin-top: ($tabHeight - $fontSize)/2;
  margin-left: 20px;
}