@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';



span{
  @include font-styles;
}
// .el-card__body{
//   background-color: $bodyBgColor !important;
// }
#nprogress .bar {
  background: greenyellow !important; //自定义颜色
}
body {
  height:100%;
  width: 100%;
  min-width: $bodyMinWidth !important;
  min-height:$bodyMinHight !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0 0 0 0px;
  margin: 0 0 0 0px;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  @include font-styles;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 8px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  background:#c1c1c1;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
  border-radius: 10px;
  background: #ffffff;
}

