// sidebar
$menuText:#ffffff;
$menuActiveText:#ffffff;
$menuBgColor:#5b5b5b;
$bodyBgColor:#f7f7f7;
$sideBarWidth: 210px;
$bodyMinWidth: 800px;
$bodyMinHight:600px;
$headerHeight:50px;
$footerHeight:20px;
$tabHeight:45px;
$buttonSize:mini;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBgColor:$menuBgColor;
  bodyBgColor:$bodyBgColor;
  sideBarWidth: $sideBarWidth;
  bodyMinWidth:$bodyMinWidth;
  bodyMinHight:$bodyMinHight;
  footerHeight:$footerHeight;
  headerHeight:$headerHeight;
  buttonSize:$buttonSize;
  controlSize:$buttonSize;
  tabHeight:$tabHeight;
}
