.el-table th>.cell{
  text-align: center;
}
.el-table td div {
  text-align: center;
}
.el-card__body{
  padding: 10px;
}
.buttonHeight{
  float:left;
  margin-bottom: 5px;
}
.pageHeight{
  text-align:right;
}
span.el-pagination__sizes {
  margin-right: 30px !important;
}