.el-table th>.cell{
  text-align: center;
}
.el-table td div {
  text-align: center;
}
.el-card__body{
  padding: 10px;
}
.buttonHeight{
  float:left;
  margin-bottom: 5px;
}
.pageHeight{
  text-align:right;
}
/deep/.el-pagination__sizes {
  margin-right: 30px;
}
/deep/.el-input-group__append {
  background-color: #409EFF;
  border: 1px solid #409EFF;
}
/deep/.el-icon-search{
  color: #ffffff;
}
.pageHeight{
  margin-top: 5px;
}