.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}
.el-divider--vertical{
  height: 820px;
}
.el-col-1 {
  width: 1%;
}