
.topleft{
  text-align: center;
  width: $siderWidth;
  height: $headerHeight;
  line-height: $headerHeight;
  vertical-align: middle;
  float: left;
  color: white ;
  span{
    font-weight: 400 !important;
    font-size: 16px !important;
    font-style: normal !important;
    color: white;
  }
  i{
    color: white;
    line-height: $headerHeight;
    vertical-align: middle;
    font-size: 36px;
    margin-right: 5px;
  }
}
.topright {
  float: right;
  text-align: right;
  color: white;
  font-size: 18px;
  padding-right: 10px;
  span{
    cursor: pointer;
    margin-left: 2px !important;
    color: white;
    font-size: 14px !important;

  }
  .fa-user{
    margin-top: 10px !important;
    color: rgb(135, 208, 104);
  }
  .logout{
    font-size: 20px;

  }
}