.account-center-index-wrapper{
    padding: 10px;
}
.block-title {
    padding: 8px 16px;
    i {
      float: right;
      cursor: pointer;
      color: #fff;
    }
    label{
        color: #fff;
    }
  }
  .panel-group {
    // margin-top: 10px;
    .card-panel-col {
      margin-bottom: 10px;
    }
  
    .card-panel {
      height: 120px;
      cursor: pointer;
      font-size: 12px;
      position: relative;
      overflow: hidden;
      color: #666;
      background: #fff;
      box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
      border-color: rgba(0, 0, 0, 0.05);
  
      &:hover {
        .card-panel-icon-wrapper {
          color: #fff;
        }
  
        .task {
          background: #40c9c6;
        }
  
        .approval {
          background: #36a3f7;
        }
  
        .notice {
          background: #f4516c;
        }
  
        .contribution {
          background: #f2bb5e;
        }
      }
  
      .task {
        color: #40c9c6;
      }
  
      .approval {
        color: #36a3f7;
      }
  
      .notice {
        color: #f4516c;
      }
  
      .contribution {
        color: #f2bb5e;
      }
  
      .card-panel-icon-wrapper {
        float: left;
        margin: 14px 0 14px 14px;
        padding: 16px;
        transition: all 0.38s ease-out;
        border-radius: 6px;
      }
      .card-panel-description {
        float: right;
        font-weight: bold;
        margin: 26px;
        margin-left: 0px;
  
        .card-panel-text {
          line-height: 18px;
          color: rgba(0, 0, 0, 0.45);
          font-size: 20px;
          margin-bottom: 12px;
        }
  
        .card-panel-num {
          font-size: 20px;
        }
      }
    }
  }
  
  @media (max-width: 550px) {
    .card-panel-description {
      display: none;
    }
  
    .card-panel-icon-wrapper {
      float: none !important;
      width: 100%;
      height: 100%;
      margin: 0 !important;
  
      .fa {
        display: block;
        margin: 14px auto !important;
        float: none !important;
      }
}
}
/deep/.el-card__header{
  padding:5px;
  text-align: center;
  background-color:#40c9c6 ;
  span{
    color:#fff;
    font-size: 16px !important;
    font-weight: bolder !important;
  }
}
.wh_container{
  max-width: 800px;
}
/deep/.wh_content_all{
  background-color:#fff ;
}

/deep/.wh_content_item ,/deep/.wh_top_changge li{
  color:#666;
}

/deep/.wh_jiantou1{
  border-left:2px solid #666 ;
  border-top:2px solid #666 ;
}
/deep/.wh_jiantou2{
  border-right:2px solid #666 ;
  border-top:2px solid #666 ;
}