.el-table th>.cell{
  text-align: center;
}
.el-table td div {
  text-align: center;
}
/* .el-pagination{
  padding: 5px 0px;
} */
.el-card__body{
  padding: 10px;
}
.buttonHeight{
  float:left;
  margin-bottom: 5px;
}
.pageHeight{
  margin-top: 5px;
}
.el-pagination__sizes {
  margin: 0 30px 0 0;
}