.item-block {
  // margin-bottom: 22 px;
  span {
    font-size: 14px;
    font-weight: bold;
  }
  .upload-demo {
    margin: 10px 0px;
  }
}
.el-form-item {
  margin-bottom: 20px;
}
.el-divider--horizontal {
  margin: 8px 0px 10px;
}
.el-upload-dragger {
  width: 290px !important;
  height: 160px !important;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 215px !important;
}
/deep/.el-upload-dragger {
  width: 230px;
  height: 140px;
}
/deep/.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 185px;
    height: 185px;
    line-height: 185px;
    text-align: center;
    border: 1px;
  }
  .avatar {
    width: 185px;
    height: 175px;
    display: block;
  }
  .el-upload__tip{
    margin: 5px 0px 10px 0;
  }