.item-block {
  margin-bottom: 22 px;
  span {
    font-size: 14px;
  }
  .upload-demo {
    margin: 20px 0px;
  }
}
.el-form--label-top .el-form-item__label{
    padding:0 0 0px;
}
.el-form-item {
  margin-bottom: 10px;
}
.right{
  margin-bottom:10px;
}
.el-divider--horizontal {
  margin: 8px 0;
}