.el-container{
  overflow: hidden;
}
.el-header {
  height: $headerHeight !important;
  background: url('~@/assets/images/layout-topbg.svg') repeat-x;
  padding: 0 0 0 0px !important;
  overflow: hidden;
}


.el-aside {
  width:$sideBarWidth !important;
  background: $menuBgColor;
}
.el-main {
  padding: 0 0 0 0px;
  background: $bodyBgColor;
}
